<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
 
    <div class="container">

<form method="post" action="../actualizar/" enctype="multipart/form-data">

    <input type="hidden" name="id" value="<%=juego.id%>" >

    <div class="form-group">
      <label for="">ACTUALIZAR Nombre:</label>
      <input type="text" name="nombre" id="" value="<%=juego.nombre%>" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted"></small>
    </div>
    <div class="form-group">
      <label for="">ACTUALIZAR Requisitos:</label>
      <input type="text" name="requisitos" id="" value="<%=juego.requisitos%>" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted"></small>
    </div>
    
    <div class="form-group">
      <label for="">ACTUALIZAR Imagen</label>
      <img class="img-thumbnail" src="../../images/<%=juego.imagen%>" width="500" alt="">
      <input type="file" class="form-control-file" name="archivo" id="" placeholder="" aria-describedby="fileHelpId">
      <small id="fileHelpId" class="form-text text-muted"></small>
    </div>
    
    <button type="submit" class="btn btn-success btn-lg btn-block">ACTUALIZAR</button>
    
    </form> 

  </div>
    
</body>
</html>